.button {
	gap: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s linear;

	span {
		transition: all 0.3s linear;
	}

	&Rounded {
		border-radius: 100px !important;
	}

	&Danger {
		background-color: var(--sDanger);
		transition: all 0.3s linear;
		border: 1px solid var(--sDanger) !important;

		span {
			color: #fff !important;
		}

		&:hover {
			border-color: var(--sDangerLight) !important;
			background-color: var(--sDangerLight) !important;
		}
	}

	&:hover {
		span {
			color: #fff;
		}
		background: var(--sPrimary);
	}

	svg {
		max-width: 21px;
		max-height: 21px;
	}

	&Disabled {
		color: #777b82;
		pointer-events: none;
		background-color: rgba(0, 0, 0, 0.04) !important;
	}
}

// .button {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;

// 	&.after-icon {
// 		padding-right: 50px !important;
// 		padding-left: 30px !important;

// 		.anticon {
// 			position: absolute;
// 			right: 30px;
// 			top: 0;
// 			bottom: 0;
// 			margin: auto;
// 			height: 100%;
// 			display: flex;
// 			align-items: center;
// 			transform: scale(0.9);
// 		}
// 	}

// 	&.ant-btn:hover {
// 		color: #fff;
// 		background: var(--sPrimaryLIght);
// 		box-shadow: 0px 20px 20px;

// 		svg:not(.noHover) {
// 			g,
// 			rect,
// 			path {
// 				fill: #fff !important;
// 			}
// 		}
// 	}

// 	&.ant-btn:disabled {
// 		svg,
// 		g,
// 		rect,
// 		path {
// 			fill: #d9d9d9 !important;
// 		}
// 	}
// 	&.ant-btn-primary {
// 		//Type: primary
// 		&:hover {
// 			border-color: #2962ff;
// 			background: #2962ff;
// 			box-shadow: 0px 20px 20px rgba(24, 74, 209, 0.38);
// 		}
// 		&:focus {
// 			&:after {
// 				content: "";
// 				position: absolute;
// 				left: -8px;
// 				right: -7px;
// 				top: -8px;
// 				bottom: -8px;
// 				-webkit-border-radius: 32px;
// 				-moz-border-radius: 32px;
// 				border-radius: 32px;
// 				border: 6px solid rgba(179, 195, 238, 0.55);
// 			}
// 		}
// 		&:active {
// 			background: var(--sPrimary);
// 		}
// 		svg,
// 		g,
// 		rect,
// 		path {
// 			fill: #fff;
// 		}
// 	}
// 	&.ant-btn-link {
// 		//Type: Link
// 		background: #fff;
// 		box-shadow: unset;
// 		cursor: unset;

// 		&:focus {
// 			background: var(--sText);
// 		}

// 		&:hover {
// 			background-color: transparent;
// 			box-shadow: unset;
// 		}

// 		span {
// 			transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
// 			text-decoration-line: underline;
// 			color: #fff;
// 			cursor: pointer;

// 			&:hover {
// 				color: #2962ff;
// 			}
// 		}
// 	}

// 	&.subtle {
// 		//Type: subtle
// 		border-width: 1px;
// 		font-weight: 400;
// 	}

// 	&.tab {
// 		border-color: var(--sText);
// 		font-weight: 700;
// 		&:hover {
// 			border-color: unset;
// 		}
// 	}

// 	&.silver {
// 		background: #d7d8da;
// 		border-radius: 50px;
// 		border: none;
// 		font-weight: 300;
// 		color: #000;
// 		font-size: 18px;
// 		padding: 0 40px;

// 		&:hover {
// 			background: #d7d8da;
// 			color: #000;
// 			box-shadow: none;
// 			box-shadow: 0 6px 20px -12px black;
// 		}
// 	}

// 	&.ant-btn-round.ant-btn-lg {
// 		padding: 8px 38px;
// 		line-height: 20px;
// 	}

// 	&.green {
// 		background-color: #36d7b7;
// 		&:hover {
// 			background-color: #36d7b7;
// 			border-color: #36d7b7;
// 			box-shadow: 0 6px 20px -12px #36d7b7;
// 		}
// 		border-color: #36d7b7;
// 	}
// }
